* {
    font-family: Arial;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

html { 
  font-size: calc(1em + 1vw); 
  } 

html, body {
    height: 100%;
    margin: 0 auto;
}

nav {
  width: 100%;
  height: 11%;
  background: #861357;
  position: fixed;
  bottom: 0px;
  z-index: 1000;
}

#nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 138px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  font-family: Proza Libre;
}

#nav a, #nav li {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.2em;
    height: 100%;
    width: 100%;
    line-height: 2;
    font-family: Proza Libre;
}

#nav li:hover, #nav li:focus {
    filter: brightness(115%);
    background: #ff9d95;
}

a {
    height: inherit;
    width: inherit;
    display: inline-block;
    text-decoration: none;
    color: aquamarine;
    margin-left: -30px;
}

i {
    font-size: 1.2em;
}

i:hover{
    filter: brightness(115%);
    font-size: 1.25em;
}


section.title_container {
    background-image: url("../images/title_blurred.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.image_container {
  height: 100%;
  position: relative;
  text-align: center;
  margin: auto;
}

section.title_container {
  min-height: 87%;
  z-index: 100;
  position: relative;
  height: 125%;
}

.quote_container {
  position: relative;
  text-align: center;
  top: 19%;
  margin-top: 0;
}

.author, .quote {
  font-family: Dancing Script;
  color: #861313;
  font-size: 1.5em;
  margin-top: -5%;
  padding: 4%;
}


.quote_container {
    display: inline-block;
    width: 89%;
    font-family: "Dancing Script";
    font-size: 1.5em;
    margin-top: 8%;
    height: 325px;
    position: relative;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1.quote {
    margin-bottom: 0px;
}

h1.about_me, h2 {
    text-align: center;
    font-family: Proza Libre;
    font-weight: bold;
    padding-top: 11%;
    margin-top: -24px;
}

.section_one {
  color: rgba(160, 211, 228, 0.7); 
}

p.story_text {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 2%;
    color: #ffffff;
    text-indent: 4%;
    line-height: 1.5em;
    margin-top: 49px;
    font-family: Cormorant Garamond;
}

p.bottom_story_text {
    padding-bottom: 7%;
}

section.main {
    background-color: rgba(178, 125, 140, 0.71);
    border-top: #5b9f9f 1px solid;
    z-index: 100;
    position: relative;
    margin-top: 0%;
}
article {
    margin-left: 4em;
    margin-right: 4em;
}
section.projects {
    background-color: rgba(160, 211, 228, 0.7);
    z-index: 1;
    min-height: 100%;
    position: relative;
    /* margin-top: -6%; */
}

div#particles-js {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.section_two{
color: #861313;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img_container {
    width: 100%;
    height: 48vw;
    text-align: center;
}

.bgg_screenshot1 {
  background-image: url('../images/bbg1.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 22px;
}

.bgg_screenshot2 {
  background-image: url('../images/lightbox.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 119em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}