* {
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div#particles-js {
  opacity: 0
}

div#Home {
  position: absolute;
  top: 0;
}

html {
  font-size: calc(1em + 1vw);
}

html,
body {
  height: 100%;
  margin: 0 auto;
  font-size: 1rem;
}

button, img, ul, h1, h2, div.technologies {
  user-select: none;
  cursor: default;
}

p:hover {
  animation-name: tran;
  animation-direction: normal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
nav {
  width: 100%;
  height: 2rem;
  background: rgb(30, 7, 3);
  position: fixed;
  bottom: 0px;
  z-index: 1000;
  animation-name: glow;
  animation-direction: normal;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  box-shadow: -1px -1px 3px #615f5f;
}
div#nav {
  animation-name: fade;
  animation-direction: normal;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

#nav li.selected {
  background: #F1A597;
  color: #1E0703;
}

#nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  text-align: center;
  font-family: Proza Libre;
}

#nav a,
#nav li {
  text-decoration: none;
  color: #f7f0e7;
  font-size: 16px;
  height: 2rem;
  width: 100%;
  text-transform: uppercase;
  line-height: 2rem;
}

#nav li:hover, #nav li:focus, button.accordion:hover, button.live:hover {
  filter: brightness(115%);
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.59, 0.56, 1, 1);
  background: #D2452A;
  transition: all ease-in-out 200ms;
}

#nav a:active {
  color: green;
}

button.accordion:active, button.live:active {
  color: green;
}

#nav a {
  display: block;
  height: 100%;
  width: 100%;
  transition: color ease-in-out 200ms;
}

.panel-left {
  width: 39%;
  display: inline-block;
}

.panel-right {
  width: 59%;
  display: inline-block;
}

img.github_link {
  height: 40px;
  width: 40px;
  margin-top: 4%;
}

img#my_avatar {
  height: 169px;
  width: auto;
  float: left;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

i {
  font-size: 1.6vw;
  margin-left: 4%;
  margin-right: 3%;
}

i.fab, i.far {
  font-size: 3vw;
  cursor: pointer;
  transition: transform 200ms linear;
}

i.fab.fa-github, i.far.fa-github {
  font-size: 4vw;
}

p i.fab.fa-github, p i.far.fa-github {
  font-size: 9vw;
  position: relative;
  height: 11vw;
}

.reference_quote i:hover {
  filter: brightness(115%);
  color: #861313;
  transition: all ease-in-out 600ms;
}

.icons {
  position: relative;
  top: 5%;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 4%;
}

.icons a {
  display: block;
  height: 4vw;
  width: 6vw;
  position: relative;
  top: -9vh;
  transition: transform 2200ms ease-in-out;
}

.technologies {
  text-align: center;
  position: relative;
  top: 2vw;
  height: 100%;
}

.technologies.bgg {
  top: 1.5vw;
}

.technologies span {
  margin: 0 1vw;
  border-top: 1px solid #a40964;
  font-family: Ruboto;
  color: #1E0703;
}

i:hover,
p.bottom_story_text a:hover {
  color: #463939;
  transition: all ease-in-out 300ms;
}

.icons i:hover,
.icons i:focus {
  color: #861313;
  transform: scale(1.5, 1.5);
}

section.title_container {
  background-image: url("../images/title_blurred.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

section.main h2 {
  margin: 0;
  padding: 0;
}

section.projects article {
  margin-bottom: 2rem;
}

section.projects article.text_analyzer {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

h1.projects_header,
h1.about_me_header,
h1.references_header {
  text-align: left;
  padding-left: 5rem;
  background: linear-gradient(to right, #1E0703, #D06E5B);
  color: #fefff1;
  display: inline-block;
  width: 100%;
  position: relative;
  left: -90%;
  opacity: 0;
  transition: left 550ms ease-out, opacity 550ms ease-in ;
}


h1.left {
  left:0%;
  opacity: 1;
}

section.main p.story_text.top_story_text {
  padding-top: 2rem;
}

section.references article {
  padding-top: 5%;
}

.reference_quote:nth-of-type(2) {
  margin-top: 4%;
}

h1.my_name {
  margin: 0;
  color: #99210A;
  font-weight: 100;
  padding: 0;
}

.image_container {
  height: 100%;
  position: relative;
  text-align: center;
  margin: auto;
}

section.title_container {
  min-height: 87%;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 125%;
  border-bottom: #b9a997 1px solid;
  opacity: 1;
  top: 0;
}

section#Projects {
  padding-top: 1rem;
}

pre {
  padding: 1rem;
}

.quote_container {
  position: relative;
  text-align: center;
  top: 19%;
  margin-top: 0;
}

.author,
.quote {
  font-family: Dancing Script;
  color: #1E0703;
  font-size: 1.5em;
  margin-top: 0%;
  padding: 2%;
}

.quote_container {
  font-family: "Dancing Script";
  font-size: 1.5vw;
  margin-top: 17%;
  height: 325px;
  position: relative;
  z-index: 10000;
  top: 0%;
}

h1.quote {
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  font-family: Proza Libre;
  margin: 3% 0;
  color: #020202;
  font-weight: 400;
  font-size: 2.25rem;
}

h1.my_name {
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 10000;
  font-size: 3rem;
  position: relative;
  top: 0;
}

h2 {
  font-size: 1.5rem;
  font-family: Proza Libre;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 4% 0;
  padding-top: 6%;
  color: #1E0703;
  width: 90%;
}

h2+p {
  text-align: center;
}

h2+p a {
  height: 5vw;
  width: 7vw;
  display: block;
  position: relative;
  top: -6vw;
}

p {
  cursor: default;
}

p.story_text {
  font-size: 1rem;
  font-weight: 600;
  color: #1E0703;
  text-indent: 4%;
  line-height: 1.5em;
  font-family: Cormorant Garamond;
  text-align: left;
  margin-bottom: 2%;
  padding: 0 3rem;
}

p.story_text.project_summary {
  text-align: center;
}

section.main {
  background-color: rgba(255, 255, 255, 0.70);
  z-index: 1;
  position: relative;
  padding-top: 2rem;
}

article {
  margin-left: 4em;
  margin-right: 4em;
  text-align: center;
  background: #ffeeeac9;
  box-shadow: -1px 1px 6px black;
  padding: 0rem 0 3rem 0;
}

section.projects article {
  display: flex;
  flex-wrap: wrap;
}

img.curriculum_screenshot1,
img.ff-quiz_screenshot_1,
img[alt="Tropical VsCode Theme"],
.tropical_vscode_theme img,
.text_analyzer img {
  width: 45vw;
}

article.tropical_vscode_theme .panel-left,
article.text_analyzer .panel-left {
  width: 59%;
}

article.tropical_vscode_theme .panel-right,
article.text_analyzer .panel-right {
  width: 39%;
}

section.projects {
  background-color: rgba(255, 255, 255, 0.70);
  z-index: 1;
  padding-top: 2rem !important;
  min-height: 100%;
  position: relative;
  top: 0;
  margin-top: 57vw;
  border-top: 2px solid rgba(30, 7, 3, 0.29);
}

div#particles-js {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.section_two {
  color: #1E0703;
}

img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 58vw;
  margin-top: 3%;
  transition: all 400ms linear;
}

.img_container {
  width: 44vw;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 4%;
}

.img_container.final_fantasy {
  margin-bottom: 3%;
}

div.img_container img:hover {
  filter: brightness(115%);
  filter: saturation(50%);
  transform: scale(1.1);
}

.bgg_screenshot1 {
  width: 45vw;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1.6vw;
}

.bgg_screenshot2 {
  background-image: url('../images/lightbox.jpg');
  height: 318%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 99%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
}

.bottom_story_text a {
  text-decoration: none;
  color: #99210A;
  letter-spacing: 0.6pt;
  display: inline;
  position: static;
  height: auto;
  width: auto;
}

img.icon {
  height: 130px;
  width: 150px;
}

@keyframes tran {
  0% {
    transform: translateX(0)
  }
  50% {
    transform:translateX(3px);
    color:#5d5e5f;
  }
  100%{
    transform: translate(0)
  }
}


@keyframes glow {
  0% {
    filter: brightness(100%);
    filter: saturate(100%);
  }
  50% {
    filter: brightness(50%);
    filter: saturate(50%);
  }
  100% {
    filter: brightness(100%);
    filter: saturate(100%);
  }
}

@keyframes fade {
  0% {
    filter: opacity(0)
  }

  100% {
    filter: opacity(1)
  }
}

section.projects button.accordion {
  padding: 0 3vw;
}

button.accordion, button.live {
  display: inline-block;
  background-color: #1E0703;
  color: white;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  transition: all 0.4s linear;
  border-radius: .5rem;
  font-family: Proza Libre;
  height: auto;
  line-height: 6vw;
  padding: 0;
  min-width: 19vw;
  margin-top: 8%;
  margin-bottom: 0%;
  box-shadow: 1px 2px 6px #2d2d2d;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

button.text_analyzer_button {
  margin-bottom: 3%;
}

button.accordion:after {
  content: '\2191';
  /* Unicode character for arrow up */
  color: #777;
  /* float: right; */
  margin-left: 1rem;
  font-size: 1rem;
  color: aliceblue;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  position: relative;
  height: 96%;
}

button.minus:after {
  content: "\2193";
  /* Unicode character for "arrow down */
  color: #ecdecd;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div#panel-1,
div#panel-2,
div#panel-3,
div#panel-4,
div#panel-5 {
  display: none;
  padding: 3% 6%;
  min-height: 100%;
}

div#panel-4,
div#panel-5 {
  padding-top: 5rem !important;
}

.contact_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 7%;
  padding-top: 3%;
}

.img_container_two:hover {
  filter: brightness(130%);
  color: #e2cdb4;
}

section.references {
  z-index: 1;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.70);
  position: relative;
  padding-top: 2rem;
}

.reference_quote blockquote {
  background: #1E0703;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: antiquewhite;
  line-height: 2vw;
  text-indent: 5%;
  font-style: italic;
  min-height: 70%;
  padding: 3rem;
}

.reference_quote {
  padding: 0 3rem;
}

.reference_quote span {
  background-color: #1E0703;
  color: white;
  padding: 3rem;
}

blockquote {
  text-align: left;
  padding: 15px 0;
  font-size: 1rem;
  margin: 0 auto;
}

blockquote:before {
  content: "\201c";
  font-size: 2em;
}

blockquote:after {
  content: "\201d";
  font-size: 2em;
}

div.reference_quote span {
  font-size: .7em;
  margin-bottom: 4%;
  margin-top: 5%;
  display: inline-block;
  width: 95%;
}

.bottom_story_text i {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-left: -5%;
}

footer {
  z-index: 100;
  position: relative;
  display: inline-block;
  font-family: Cormorant Garamond;
  bottom: 5.7vw;
  text-align: center;
  width: 100%;
  font-size: 2vw;
  font-weight: 600;
}

footer:before {
  content: "\00a9 2017";
  margin-right: 1vw;
}

div.technologies p {
  padding-top: 1vw;
}

@media screen and (max-width: 2600px) {
  img.icon {
    height: 200px;
    width: 200px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.6vw;
  }
  code span {
    font-size: 1.6vw;
  }
  blockquote {
    line-height: 1.5em;
  }
  blockquote span {
    margin-left: 5%;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1950px) {
  img.icon {
    height: 200px;
    width: 200px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.3vw;
  }
  code span {
    font-size: 1.3vw;
  }
  blockquote span {
    margin-left: 5%;
    font-size: 1em;
  }
}

@media screen and (max-width: 1750px) {
  img.icon {
    height: 200px;
    width: 200px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote span {
    margin-left: 5%;
    font-size: 1em;
  }
}

@media screen and (max-width: 1600px) {
  img.icon {
    height: 200px;
    width: 200px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 1.5em;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1450px) {
  img.icon {
    height: 170px;
    width: 170px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 1.5em;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1300px) {
  img.icon {
    height: 150px;
    width: 150px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 1.5em;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1200px) {
  .technologies span {
    margin: 0 1.5vw;
  }
  img.icon {
    height: 150px;
    width: 150px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 1.5em;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-top: 1.8vw;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1030px) {
  .technologies span {
    margin: 0 .5vw;
  }
  #nav a,
  #nav img {
    margin-top: 0%
  }
  #nav img {
    margin-top: 1%;
    height: 25%;
    width: 15%
  }
  img.icon {
    height: 130px;
    width: 130px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 1.5em;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media screen and (max-width: 860px) {
  .technologies span {
    margin: 0 .5vw
  }
  #nav a,
  #nav img {
    margin-top: 0%;
  }
  #nav img {
    margin-top: 3%;
    height: 18%;
    width: 15%
  }
  img.icon {
    height: 110px;
    width: 110px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 2.3vw;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote span {
    margin-left: 5%;
    font-size: 1em;
  }
}

@media screen and (max-width: 740px) {
  section.projects article {
    display: block;
  }
  div.panel-left {
    width: 100%;
  }
  div.panel-right {
    width: 100%;
  }
  .bggapi button#panel-2_tab,
  .curriculum_manager button#panel-1_tab {
    /* margin: 1vw auto; */
  }
  button.accordion {
    margin: 0 auto;
  }
  article.tropical_vscode_theme .panel-right,
  article.text_analyzer .panel-right {
    width: 100%;
  }
  article.tropical_vscode_theme .panel-left,
  article.text_analyzer .panel-left {
    width: 100%
  }
  .tropical_vscode_theme p.story_text.top_story_text.project_summary {
    margin-bottom: 0;
  }
  .text_analyzer .technologies {
    margin-bottom: 0;
  }
  .technologies span {
    margin: 1vw 0.1vw;
  }
  .tropical_vscode_theme img,
  .text_analyzer img {
    width: 40vw;
    margin-bottom: 1rem;
  }
  article.tropical_vscode_theme .img_container,
  article.text_analyzer .img_container {
    margin: 0 auto;
    /* width: 100%; */
  }
  .technologies {
    width: 100%;
  }
  #nav a,
  #nav img {
    margin-top: 0;
  }
  #nav img {
    margin-top: 2%;
    height: 18%;
    width: 15%
  }
  img.icon {
    height: 90px;
    width: 90px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 1.5em;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media screen and (max-width: 650px) {
  #nav a,
  #nav img {
    margin-top: 0;
    font-size: 2.5vw;
  }
  #nav img {
    margin-top: 2%;
    height: 13%;
    width: 15%
  }
  i {
    margin-left: 4%;
    margin-right: 3%;
  }
  img.icon {
    height: 70px;
    width: 70px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 1.5em;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
  }

  button.accordion, button.live {
    border-radius: 0;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media screen and (max-width: 520px) {
  #nav a,
  #nav img {
    margin-top: 0;
  }
  #nav img {
    margin-top: 1%;
    height: 9%;
    width: 13%
  }
  i {
    margin-left: 4%;
    margin-right: 3%;
  }
  img.icon {
    height: 70px;
    width: 70px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  blockquote {
    line-height: 1.5em;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media screen and (max-width: 440px) {
  #nav a,
  #nav img {
    margin-top: 0;
    line-height: 32px;
    font-size: 2.7vw;
  }
  #nav img {
    margin-top: 0%;
    height: 8%;
    width: 13%
  }
  p i {
    font-size: .5em;
  }
  
  button.live {
    width: 35vw;
  }

  button.accordion, button.live {
    margin-bottom: 8%;
    margin-top: 8%;
    border-radius: 0;
  }
  img.icon {
    height: 50px;
    width: 50px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  code {
    font-size: 1.2vw;
  }
  code span {
    font-size: 1.2vw;
  }
  div.reference_quote {
    width: 90%;
  }
  blockquote {
    line-height: 1.5em;
    width: 87%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote span {
    margin-left: 5%;
    font-size: 1em;
  }
}

@media screen and (max-width: 330px) {
  #nav a,
  #nav img {
    margin-top: 0;
  }
  #nav img {
    margin-top: 0%;
    height: 6%;
    width: 13%
  }
  article {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  p.story_text {
    margin-bottom: 0;
    margin-top: 6px;
  }
  p i {
    font-size: .5em;
    margin-left: 25%;
    margin-right: 4%;
  }
  button.accordion:after {
    height: 80%;
    margin-right: 2%;
    border: .5px white solid;
    margin-top: 2%
  }
  img.icon {
    height: 40px;
    width: 40px;
    margin-bottom: 1%;
    padding-bottom: 1%
  }
  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  code {
    font-size: 1.2vw;
  }
  code.hljs {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: left;
  }
  code span {
    font-size: 1.2vw;
  }
  div.reference_quote {
    width: 100%;
  }
  blockquote {
    line-height: 1.5em;
    width: 87%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote span {
    margin-left: 5%;
  }
}

@media only screen and (max-device-height: 732px) and (max-device-width: 412px) {
  h1.my_name {
    margin-top: 17%;
    font-size: 1.5rem;
  }
  div.quote_container {
    font-size: .75em;
    line-height: 1.9em;
    top: 17%;
  }
  section.title_container {
    min-height: 91px;
    max-height: 96%;
  }
  section.projects {
    margin-top: 95vw;
  }
  article {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .image_container {
    height: 100px;
  }
  h1#About_Me {
    padding: 10px;
    margin: 0;
  }
  h1 {
    padding-top: 8%;
  }
  section.references h1 {
    padding: 10px;
    margin: 0;
  }
  nav {
    height: 35px;
    line-height: 35px;
  }
  #nav ul {
    font-size: 1.3em;
  }
  p.story_text {
    padding: 1rem;
  }
  p.story_text a {
    margin-left: 2%;
    margin-right: 2%;
  }
  h1.projects_header{
    padding: 0;
    margin-bottom:0;
  }
  .bggapi button#panel-2_tab, .curriculum_manager button#panel-1_tab {
    /* margin-top: 3vw; */
  }
  button.accordion:after {
    height: 80%;
    margin-right: 2%;
    font-size: 4vw;
  }
   div.reference_quote blockquote{
    line-height: 4.6vw;
    padding: 5.5vw;
    font-size: 3.5vw
  }
    div.reference_quote span i{
    font-size: 3.5vw;
  }
   blockquote:after {
    font-size: 3.5vw;
  }
  button.accordion, button.live{
    margin: 3vw;
    border-radius: 2px;
    width: 47vw;
    height: 13vw;
    padding: 0;
    /* display: block; */
    text-align: center;
    margin-bottom: 0;
  }
  code.hljs {
    font-size: .6em;
    text-align: left;
  }
  code span {
    font-size: .8em;
  }
  blockquote {
    width: 80%;
    line-height: 1.5em;
  }
  div.reference_quote {
    width: 100%;
    padding: 0;
  }
  .icons {
    position: relative;
    top: 51%;
    text-align: center;
    margin-bottom: 2%;
  }
  .img_container{
    width:100%;
  }
  i.fa {
    font-size: 7vw;
    cursor: pointer;
  }
  i.fa.fa-github {
    font-size: 8vw;
  }
  footer {
    margin-bottom: 50px;
  }
  img.curriculum_screenshot1, img.ff-quiz_screenshot_1, img[alt="Tropical VsCode Theme"], .tropical_vscode_theme img, .text_analyzer img, .bgg_screenshot1 {
    width: 79vw;
  }
}

@media only screen and (max-device-height: 667px) and (max-device-width: 375px) {

  div.quote_container{
    top: 30%;
  }

  .author, .quote {
    margin-top: 40px;
    font-size: 1.25rem;
  }
  button.accordion:after {
    margin: 0 0 0 10px;
  }
}

@media only screen and (max-device-height: 736px) and (max-device-width: 414px) {

  div.quote_container{
    top: 15%;
  }

  .author, .quote{
    font-size: 1.25rem;
    margin-top:40px;
  }

  article {
    margin: 0;
  }

  button.accordion, button.live {
    width: 52vw;
    height: 13vw;
    margin-top: 1rem;
    border-radius: 0;
    margin-bottom: 0;
  }

  .icons i, i.fa.fa-github {
    font-size: 6vw;
  }

  .icons a{
    top: -5vw;
  }

  .img_container{
    width:100%;
  }
}